.cls-4,
.cls-6,
.cls-8 {
    stroke: #252626;
    stroke-miterlimit: 10
}

.cls-4,
.cls-9 {
    fill: none
}

.cls-6,
.cls-7 {
    fill: #252626
}

.cls-8 {
    fill: #010202
}

.cls-10 {
    fill: #fff
}