.timeline {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
    flex-wrap: wrap;
    // border: 1px solid orange;
    position: relative;

    

}

.timeline-svg {
    width: 100%;
    height: auto;
    // position: absolute;
}   