.timeline {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; // border: 1px solid orange;
    position: relative;
}

.timeline-svg {
    width: 100%;
    height: auto; // position: absolute;
}

.small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    transform: translate(-0.7em, 0.3em);
}

.svg-stops {
    stroke: #777;
    fill: #777;
    stroke-width: 3;
}

.svg-street {
    stroke: #aaa;
    fill: red;
    stroke-width: 20;
}

.svg-street-dash {
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 10;
    stroke-dashoffset: 5;
}

// .grow { transition: font-size .2s ease-in-out; }
.grow {
    font-size: 4em
}

.grow-svg {
   stroke-width: 40
}